


#set($queryterms = $esc.url($params.get('q')))

#if(!$queryterms || "$!queryterms" == "")
	#set($queryterms = "*")
#end


##http://localhost:8983/solr/WdK.dev/select?facet=true&facet.pivot={!stats%3Dp}goobi_PublicationYear%2Cgoobi_singleDigCollection&stats=true&stats.field={!tag%3Dp+mean%3Dtrue}topic_capitals_chapters_sentences_50_12&wt=xml&facet.limit=10000&rows=0

#set($groupStats = false)
#set($groupStatsField = $esc.url($params.get('group_stats_field')))
#if($groupStatsField && $!groupStatsField != "")
    #set($groupStats = true)
#end

#set($groupform = false)

#macro(current_constraints_as_base)#foreach($p in $params_for_base_constraints_mapping.keySet())#foreach($v in $request.params.getParams($p))#if($v != '')&${params_for_base_constraints_mapping[$p]}=${esc.url("#removeTag($v)")}#end#end#end#end

#macro(base_constraints_from_query)#foreach($p in $params_for_base_constraints_mapping.keySet())#foreach($v in $request.params.getParams( $params_for_base_constraints_mapping[$p]))#if($v != '')&$p=${esc.url("#removeTag($v)")}#end#end#end#end


##- include timefield
##

#set($groupfield_stats_param = "&stats.field={!tag%3Dp+countDistinct=true}$groupfield")
#set($withoutparams = ['q','q.op', 'fq', 's','rows', 'hl.q', 'group.field', 'group', 'group.ngroup', 'group.facet', 'facet.field', 'textfs', 'group.field'])
#set($success = $withoutparams.addAll($termfacets))
#set($success = $withoutparams.addAll($params_for_base_constraints))


#set($lensforstats="#lens_without_P($withoutparams)&q=${queryterms}#qop()&rows=0")



##exclude junkf-filter from corpus-base-query
#set($activeFilterForBase = "")


#set($base_constraints_url_string = "#base_constraints_from_query()")

#set($base_constraints = "#{base_constraints_from_query}()")
#set($base_constraints = $base_constraints.trim())


#if($params.getParams('fq'))
    #foreach($fq in $params.getParams('fq'))


        #set($fq_without_tag = $esc.url("#{removeTag}($fq)"))

        #set($lensforstats = "$lensforstats&fq=$fq_without_tag")

        #if($fq.contains($defaultfilter))
            #set($activeFilterForBase = "$activeFilterForBase&fq=$esc.url($defaultfilter)")
        #end
            #if($fq.contains("$timefacet:"))
                #set($activeFilterForBase = "$activeFilterForBase&fq=$fq_without_tag")
                #if(! $base_constraints_url_string.contains("$timefacet:"))
                    #set($base_constraints_url_string = "$base_constraints_url_string&fq=$fq_without_tag")
                #end
             #end
        #end
    #end






#set($base_query_active = $base_constraints.trim() != '')

#set($lensforscorpusstats="#lens_without_P($withoutparams)&rows=0#if($base_query_active)$base_constraints_url_string.trim()#else${activeFilterForBase}#end")


#set($switchparams = [])
#set($success = $switchparams.addAll($params_for_base_constraints))
#set($success = $switchparams.addAll($params_for_base_constraints_mapping.keySet()))
#set($lensforswitch="#lens_without_P($switchparams)#base_constraints_from_query()#current_constraints_as_base()")


#macro(statsparams)&facet=true&stats=true&facet.pivot={!stats%3Dp}${timefacet}#if($groupStats)%2C${groupStatsField}&facet.pivot={!stats%3Dp}${groupStatsField}#end#end

#macro(solrjson_pivot_stats_url_json)#{url_for_solr}/json$lensforstats#{statsparams}()#end


##macro(solrjson_pivot_stats_url_json_old)#{url_for_solr}/json$lensforstats&wt=json&stats=true&facet.limit=10000&facet.pivot={!stats%3Dp}$timefacet#if($groupStatsField && $groupStatsField != "")%2C${groupStatsField}&facet.pivot={!stats%3Dp}${groupStatsField}#end#end

#macro(solrjson_pivot_stats_corpus_url_json)#{url_for_solr}/json$lensforscorpusstats#{statsparams}()#end

	## &facet.pivot={!stats%3Dp}Schultyp_Allg_wdk
	## statsgroupfield uebergeben
	## stats.field

    #set($baseQuery = $params.get($params_for_base_constraints_mapping['q']))##
    #set($baseQueryFqs = {})##
    #calc_selected($params.getParams($params_for_base_constraints_mapping['fq']), $baseQueryFqs)##
    #set($baseQueryOps = $params.get($params_for_base_constraints_mapping['q.op']).trim())##
    #if(!$baseQueryOps || $!baseQueryOps == "")
        #set($baseQueryOps = "AND")##
    #end



#set($withoutparams_group_comp = ["group_stats_field"])
#set($success = $withoutparams_group_comp.addAll($params_for_base_constraints))



<div id="chartbox">

<script>


var chart_conf = {
	baseurl: $esc.s#solrjson_pivot_stats_corpus_url_json()$esc.s,
	currentselection_url : "#{url_for_solr}/browse$lensforstats",
    statsfield: [],
    statsfield_title: [],
	timefield : "$!timefacet",
	groupfield : "$!groupStatsField",
	groupfield_title : false,
    top_groups_no: 10,
    norelativevalues: false,
    no_timefield_url: $esc.s#url_for_filters_no_current($timefacet)$esc.s,
    group_stats_field : "$groupfield",
    group_stats_field_title : $esc.s#displayfacetname($groupfield)$esc.s,
	statsonquery : false,
    current_query_for_time :    '#url_for_filters_no_current($timefacet)&v.template=browse_docs',
    info_currentselection: $esc.s#displaycurrentselection()$esc.s,
    info_baseselection: $esc.s#displayselection("$!baseQuery", $baseQueryFqs, $baseQueryOps)$esc.s,
    info_currentselection_url:  $esc.s#url_for_solr()/browse#lens() $esc.s,
    current_constraints_for_base: $esc.s#current_constraints_as_base()$esc.s,
    base_url_for_new_base: $esc.s#{url_for_home}()#{lens_without_P}($withoutparams_group_comp)$esc.s,
    switch_url: $esc.s#url_for_home()$lensforswitch$esc.s,
    info_core_version: '$core_version',

	stats_color : "#C14D00"

};


//define url for counts on years of complete index, without any filters applied
##set($solrjson_base_facet = "#{url_for_solr}/browse?q=*&wt=json&rows=0&facet=true&facet.field=goobi_PublicationYear&facet.limit=10000")
##var solrjson_base_facet = "$solrjson_base_facet";

#if($base_query_active)
    #set($pagesRelBut = "Anteil an Basisauswahl in %")
    #set($pagesRelButTitle = "Anteil Trefferseiten (%) an allen Seiten in Basisauswahl f&uuml;r das jeweilige Jahr")

#else
    #set($pagesRelBut = "Anteil an Korpus in %")
    #set($pagesRelButTitle = "Anteil Trefferseiten (%) an allen Seiten im Korpus  f&uuml;r das jeweilige Jahr")
#end
#set($relButton = true)

#set($chartShowTopics = false)

#set($ct = $params.get('ct'))


#set($statsfielddef = "&stats.field={!tag%3Dp+mean%3Dtrue+stddev%3Dtrue}")
#set($statsfieldurl = "")
#set($statsfield = "")
#set($statstitle = "")



#if($groupStats || $base_query_active)

    #if(($ct && "$!ct" != ""))
        #if( $ct != $noTopicParam  )
            #set($chartShowTopics = true)
        #end

    #elseif( $showtopics.size() > 0)
        #set($ct = $showtopics[0])

        #set($chartShowTopics = true)

    #end
    #if($chartShowTopics)
        #set($statsfieldurl = "${statsfielddef}$ct")

        #set($statstitle = "#{displaytopicname}($ct)")
        #set($statstitle = "$statstitle.trim()")
        #set($statsfield = "'$ct'")
        #set($chartname = "Topic $statstitle nach $groupStatsField" )
        #if($base_query_active)
            #set($chartname = "Topic $statstitle in Anfrage relativ zu Basisauswahl" )
        #end


    #end



#elseif( $showtopics && $showtopics.size() > 0)
    ##add all topics (chart not grouped)
    #set($chartShowTopics = true)
    #foreach($topicname in  $showtopics)
        #set($statsfieldurl = "${statsfieldurl}${statsfielddef}${topicname}")
        #if($statsfield != "")#set($statsfield = "$statsfield,")#end
        #set($statsfield = "$statsfield'$!topicname'")
    #end
    #set($statstitle = "ausgew&auml;hlte Topics")


#end

#if($chartShowTopics)
chart_conf.currentselection_url = $esc.s#{solrjson_pivot_stats_url_json}()${statsfieldurl}$esc.s;
//set topicname for chart legend
chart_conf.baseurl = $esc.s#solrjson_pivot_stats_corpus_url_json()${statsfieldurl}$esc.s,

chart_conf.statsfield = [$statsfield];
chart_conf.statsfield_title = [$esc.s$statstitle$esc.s];

    #set($chartname =  $statstitle)
#else
## necessray with pivot-facet?
topic1title = "";
chart_conf.currentselection_url  = '#{solrjson_pivot_stats_url_json}()';

    #set($chartname = "Aktuelle Auwahl")

#end

    #set($groupformtext = "Treffer nach Kategorie")


#if($queryterms != "*" || ($rpmfq.size() > 0))

		chart_conf.pages_colour = "#BEC6DB";

		// anfrage/ teildokumente
		#set($groupform = true)


	##farbe ändern: blau für anfrage
	##farbe topicfilter und sorttopic ändern grün
#end
//queryterms: $queryterms - rpmfq.size(): $rpmfq.size() - rpmfq[0]: $rpmfq[0]

##cases if whole corpus or only filtered on the dimension shown in the graph (that is all documents in the corpus for each section
#if((($queryterms == "*" && !($rpmfq.size() > 0))||( $queryterms == "*" && $rpmfq.size() == 1 && $rpmfq[0].startsWith($timefacet))))
	##case: no query of filter active, auswahl oder die aktuelle Statsquery
    chart_conf.abs_title = "Seitenzahl pro Jahr im Korpus";
	chart_conf.norelativevalues = true;
    chart_conf.pages_colour = "#ddd";
	#set($relButton = false)

#end

#*
* statsonquery - https://cwiki.apache.org/confluence/display/solr/The+Stats+Component
* als stats-field, wie topic, nur als formel
* facet=true
facet.query={!tag=q1}manufacturedate_dt:[2006-01-01T00:00:00Z TO NOW]
facet.query={!tag=q1}price:[0 TO 100]
facet.pivot={!query=q1}cat,inStock
https://cwiki.apache.org/confluence/display/solr/Faceting

http://localhost:8983/solr/WdK.dev/json?&fl=*%2Cscore&facet=true&stats=true&rows=0&facet.pivot={!query%3Dsq}goobi_PublicationYear,Schultyp_Allg_wdk&facet.pivot={!query%3Dsq}Schultyp_Allg_wdk&facet.query={!tag%3Dsq}text:kaiser

&facet.query={!tag=sq}text:"kaiser" should be equicanelnt to q=kaiser - check for other terms

Stemming? Normalisierung?
* *#

#if($chartShowTopics)
	#set($groupformtext = "Topic nach Kategorie")
#elseif($relButton)

#elseif($groupStats)

#else
	chart_conf.groupfield = false;
	#set($groupform = false)
#end

#**
#if($params.get('top_groups_no'))
    #set($top_groups_no = $esc.url($params.get('top_groups_no')))
#else
    #set($top_groups_no = 10)
#end
chart_conf.top_groups_no =  $top_groups_no;
**#

jQuery(document).ready(function() {solrvis_lg_loadchart(chart_conf)});


</script>


    <h2  id="chartcontrols" class="collapse-button open">Diagramm f&uuml;r $chartname&nbsp;<img alt="statistik" src="#{url_for_solr}/admin/file?file=/velocity/img/stats.png&contentType=image/png"/></h2>
    <div id="chart" class="collapsible">


      #** <pre>
chartShowTopics ? $!chartShowTopics
groupStatsField ? $!groupStatsField<br>
ct ?    $!ct
statsfield ? $statsfield
           </pre>**#
		<div id="chartsettings">

            <div id="y2settings">
            #if(!$showtopics.isEmpty() || ( $groupStatsField && $!groupStatsField != "") )

                         <input type="radio" id="nosmooth"  name="nosmooth" checked="checked" title="Mittelwert pro Jahr"><label for="nosmooth"><img alt="ungegl&auml;tteter graph" src="#{url_for_solr}/admin/file?file=/velocity/img/graph-icon.png&contentType=img/png"> 1&nbsp;Jahr&nbsp;</label>
                         <input type="radio" id="smooth" name="smooth" title="Gleitender Mittelwert gemittelt &uuml;ber 5 Jahre"><label for="smooth"><img alt="gegl&auml;tteter graph" src="#{url_for_solr}/admin/file?file=/velocity/img/smoothed-graph-icon.png&contentType=img/png"> 5 Jahre&nbsp;</label>

            #end</div>

        <div id="y1settings">
        #if($relButton)
                      <input type="radio" id="PagesAbsBut" name="PagesAbsBut" checked="checked"><label for="PagesAbsBut" title="Treffer pro Jahr">Absolut</label>
                      <input type="radio" id="PagesRelBut" name="PagesRelBut"><label for="PagesRelBut" title="$pagesRelButTitle">$pagesRelBut</label>
        #end
        </div>

    </div>
    <div id="chartresizable">
        <div id="chartcontainer"></div>
    </div>


    <div class="pure-g">
        <div class="#{if}($showtopics.size()>0)pure-u-2-3#{else}pure-u-4-5#{end}">
    <div id="chartlegendcontainer"  >
        <div id="statscontrols">
            <div class="pure-button-group" role="group" aria-label="Vergleichsoption f&uuml;r Diagramm ausw&auml;hlen">
        <button id="show_group_field" class="pure-button pure-button-primary">Gruppenvergleich</button>
        <button id="show_comp_field" class="pure-button pure-button-primary">Vergleich mit vorheriger Anfrage</button>
            </div>

        <div id="group_selector_box" class="pure-form">
            <form action="#{url_for_solr}/browse"  method="get">
                #q_form()
                #fqs_form()

                #additional_params_form_nops($withoutparams_group_comp)
                <fieldset>
                    <label for="group_stats_field">Gruppe ausw&auml;hlen:</label>
                    <select name="group_stats_field" id="group_stats" onchange="this.form.submit()">
                        <option value=""/></option>
                        #foreach($field in $response.facetFields)
                            <option value="$field.name" #if($groupStatsField  == $field.name) selected #end>#displayfacetname($field.name)</option> ##todo: selected wenn group_stats_field
                        #end
                    </select>
                #if($groupStats)
                    <a href="#{url_for_home}()#{lens_without_P}($withoutparams_group_comp) title="schlie&szligen" class="close_comparison"></a>
                #end
                </fieldset>
                </form>
        </div>

        </div>

        <div class="chartTitleContainer"></div>
        <div id="chartlegendresizable">


            <div id="chartlegend">

            </div>


        </div>

    </div>
        </div>

            <div class="#{if}($showtopics.size()>0)pure-u-1-3#{else}pure-u-1-5#{end}">

                #parse("topic_box.vm")

            <form id="download-form" method="post" target="_blank" action="$data_loopback_url">
                <input type="button" class="pure-button button-xsmall" value="Zeitverlauf als CSV exportieren"/>
            </form>

            </div>

    </div>
</div>

</div>

#macro(select_current_topic $ct)
    #if($showtopics.size() > 0 && ($groupStats || $base_query_active))
        <form action="#{url_for_solr}/browse"  method="get">
            #q_form()
            #fqs_form()
            #additional_params_form_nops(["ct"])



    <div id="select_current_topic" title="Anzuzeigendes Topic bei gruppierten Werten im Diagramm ausw&auml;hlen.">Anzeigen:&nbsp;

    <select name="ct" id="group_stats_value" onchange="this.form.submit()">

        <option value="$noTopicParam" #if($ct  == $noTopicParam) selected #end>Gruppengr&ouml;&szlig;e (kein Topic)</option>
        #foreach($topic in $showtopics)

            <option value="$topic" #if($ct  == $topic) selected #end>
                #truncate( "#displaytopicname($topic)" , 50)</option> ##todo: selected wenn group_stats_field
        #end
    </select>
    </div>
        </form>

    #end
#end

