

#*topicmodelprefixes are expected to be used for
    1.) topicmfields where topics attributed to a document with the $topicmodelfieldsuffix given below
    2.) names of the numeric-fields providing topic-intensity for each topic and document followed by the number of the topic in the model
*#
#set($topicmodelprefixes = ["topic_capitals_chapters_sentences_50_", "topic_capitals_chapters_sentences_100_", "topic_capitals_chapters_sentences_200_"])


##all topicmodelfields that index topics attributed to documents shoud end on this suffix. The fields include topicmodels by name (usually a number and 10 most important terms).
#set($topicmodelfieldsuffix = "topwords")

##used to lookup human-readable-names of the topics (cf. order of $topicmodelprefixes )
#set($topicmodelnames = ["TM Hauptwörter (50)", "TM Hauptwörter (100)", "TM Hauptwörter (200)"])

##number of topcis in a topic -1 (cf. order of $topicmodelprefixes )
#set($topicmodelcounts = [49, 99, 199])

##this filter.query is set in solrconfig.xml to be used as default. Can be overriden by other filter-queries or an empty fq
#set($defaultfilter = 'ntokens:[50 TO *] AND nsentences:[3 TO *] AND NOT(alphaCharsPerToken:[0 TO 1.71] OR alphabeticCharsRatio:[0 TO 0.71])')

##these are the specially defined filter.queries used to filter out junk. These filters
##are displayed seperatly from the other filter-queries.
#set($junkfilter = {$defaultfilter : 'min. 50 Worte, min. 3 Sätze, geringer Anteil Sonderzeichen/Wort',
    '{!frange l=5}div(ntokens,max(nsentences,1))':'Mindestens 5 Worteinheiten/Satz',
    '-divType:(Addendum OR Advertising OR Appendix OR AttachedWork OR Bibliography OR Binder OR colourchart OR Cover OR Dedication OR Epilogue OR Errata OR Figure OR Frontispiece OR genealogicaltable OR IllustrationDescription OR Imprint OR Index OR IndexAuthor OR IndexLocation OR IndexOfChronology OR IndexPersons OR IndexSpecial OR IndexSubject  OR ListOfIllustrations OR ListOfMaps OR Map OR MultiVolumeWork OR OtherDocStrct OR panel OR Preface OR Prepage OR regentpanel OR Remarks OR Supplement OR Table OR TableOfAbbreviations OR TableOfContents OR TableOfLiteratureRefs OR TitlePage)'
:'Medientypen filtern'

})


##here, the names of facet.queries used are defined. These are split into semantically meaningful groups for display $facet_query_groups
#set($facet_query_names = {'Afz_wdk:[2 TO *]': 'Auflage 2 und höher',
							'-Afz_wdk:[2 TO *]': 'keine Auflage oder Auflage 1'
                            })

#set($success = $facet_query_names.putAll($junkfilter))

##Facet groups are solely used for display. They are identified based on the start of the query-string.
#set($facet_query_groups = {"text:": "OntoQuery",
                            "-Afz_wdk:": "Auflage",
                            "Afz_wdk:": "Auflage"
})


##lists all fieldnames that are used as facets. Names are given in the same order in $facetnames
#set($facetkeynames = ["goobi_PublicationYear",
					 "goobi_singleDigCollection",
					"goobi_PublisherName",
					"goobi_TitleDocMainShort",
					"document",
					"goobi_PlaceOfPublication",
					"goobi_TitleDocMainShort_Compl",
 					"Verlag_wdk",
 					"namedentities_per",
 					"namedentities_loc",
					"namedentities_org",
 					"namedentities_misc",
 					"years",
 					"Afz_wdk",
 					"Inhalt_Raum_Thema_wdk",
                    "Inhalt_Zeit_wdk",
 					"goobi_Author.displayName",
 					"goobi_Editor.displayName",
 					"page",
 					"Afz_wdk",
                    "text",
                    "divType",
                    'Schulbuchtyp_wdk',
                    "Jahr der Erstauflage_wdk",
                    "Schultyp_Allg_wdk_nDistinct",
                    "Schultyp_wdk_nDistinct",
                    "Forschungskorpus_WdK",
                    "Schulformen_opac"])

#set($facetnames = ["Erscheinungsjahr",
					"Sammlung",
					"Verlag",
					"Kurztitel",
					"Werk",
					"Erscheinungsort",
					"Titel",
					"Verlag (ges&auml;ubert wdk)",
					"Extrahierte Personennamen",
					"Extrahierte Ortsnamen",
					"Extrahierte Organisationen",
					"Weitere extrahierte Benennungen",
					"Extrahierte Jahreszahlen",
					"Auflagennummer",
					"Inhalt Raum/Thema",
                    "Inhalt: Zeit",
					"Autor",
					"Hrsg.",
					"Seite",
					"Auflage",
                    "Volltext",
                    "Strukturtyp",
                    'Schulbuchtyp_wdk',
                    "Jahr der Erstauflage_wdk",
                    "Schultyp_Allg_wdk Anzahl Werte",
                    "Schultyp_wdk Anzahl Werte",
                    "Forschungskorpus_WdK",
                    "Schulform_opac"])

##lists all metadata that is to be displayed for each result
#set($metadata_book = [
	'goobi_Author.displayName',
	'goobi_Editor.displayName',
	'Afz_wdk',
    'Jahr der Erstauflage_wdk',
	'goobi_singleDigCollection',
    'Schulbuchtyp_wdk',
	'Schultyp_wdk',
    'Schultyp_Allg_wdk',
	'Bildungsstufe_opac',
	'Schulformen_opac',
	'Regionen_opac',
    "Inhalt_Raum_Thema_wdk",
    "Inhalt_Zeit_wdk",
    'Geschlecht_wdk',
    'Konfession_wdk'
])



##facets to be activated as additional facets because of performance reasons. These facets are activeted by adding them to the url
#set($text_facets = [
    "text",
    "namedentities_per",
    "namedentities_loc"
])

##limits taht are offered to the users to choose form
#set($termnumbers = [25, 50, 100, 500, 1000])
#set($termfacets = [ "f.namedentities_per.facet.limit", "f.namedentities_loc.facet.limit", "f.text.facet.limit"])


##for fields with multiValued="true" the need to select only results with only one specific value can arise.
##for the facet.field Facets listed here, a Unique-Option is displayed while 0 or 1 of the facets are selected. The Unique-Options expects a second field which indexes the number of indexed terms and uses this to restrict the number of indexed terms.
#set($add_facet_unique_option = [
    "Schultyp_Allg_wdk",
    "Schultyp_wdk",
    "Schulformen_opac"
])



##This is the suffic that needs to be added to a field-name to find the termcount-field used for the unique-Option named above.
#set($unique_option_suffix = "_nDistinct")

#*
 1877 - Leipzig : Teubner

Autor: Lübker, Friedrich
Hrsg.: Erler, Max
Sammlungen: Kaiserreich Geschichtsschulbuecher
Schultyp_wdk: Gymnasium
Geschlecht_wdk: Jungen
Bildungsstufe_opac: Sonstige Lehrmittel, alle Lernstufen
Schulformen_opac: Gymnasium

*#

##names of special fields are defined here

## important for charts and result-list
#set($timefacet = 'goobi_PublicationYear')

##used primariy in result-list
#set($pagefield = 'page')
#set($bookfield = 'goobi_CatalogIDDigital')
#set($booktitlefield = 'goobi_TitleDocMain')
#set($publicationplacefield = 'goobi_PlaceOfPublication')
#set($publisherfield = 'goobi_PublisherName')
#set($auflagenzahlfield = 'Afz_wdk')

##provides the group-by-document option
#set($groupfield = 'document')
#set($authornamefield = 'goobi_Author.displayName')
#set($textexport = 'text_normalized')


##these facets are offered in addition to active facets in the statsview
#set($additional_statsfacets = [
    "namedentities_per",
    "namedentities_loc"
])

##configuration of grouping option used for the statsview
#set($timefacet_grouped = "${timefacet}_Jahrzehnte")
#set($success = $facetkeynames.add($timefacet_grouped))
#set($success = $facetnames.add("Erscheinungsjahr n. Jahrzehnten"))

##these paramters are ususally added to all links and forms thoughout a sessionn if not overriden
#set($additional_params = ["fl", "sf", "ct", "show_topic", "hl.q", "rows", "group", 'group.field', 'group.ngroups', 'group.facet', 'statsonquery', 'topicmodel', 'group_stats_field',"top_groups_no", "textfs"])

##these are the paramters that are kept in the  stats_view_catgories template
#set($additional_params_stats = ["v.template",
    "facet_pivot_2",
    "facet_pivot_1",
"facet.pivot",
"facet.limit",
"facet.pivot.mincount",
"rel_values",
"top_entries_max"])







##These are the bases used to create links to the original collections both on the page as well as on the book level
##this string is used to create links to the original collections on a page level
#set($link_base = "http://gei-digital.gei.de/viewer/!image/")

##this string is used to create links to the original collections on a book level
#set($link_toc = "http://gei-digital.gei.de/viewer/!toc/")

##name of links to the original collection / name of the collection
#set($link_targetname = "gei-digital.de")

##if there are documents from different collections in the index, this field can be used to determine the
## collection to create the correct link
#set($link_type_field = "")

##these are the macros used to create links to the original collections on a page level
#macro(makePageLink $identifier $pagenumber $linktype )
<a class="linkToSource" target="_blank" href="${link_base}${identifier}/${pagenumber}/-/">Seite auf $link_targetname </a>
#end

##these are the macros used to create links to the original collections on a book level
#macro(makeBookLink $identifier $pagenumber )
<a class="linkToSource" target="_blank" href="${link_toc}${identifier}/${pagenumber}/-/">Werk auf $link_targetname</a>
#end

##these are the params that are removed when creating the query-urls for the chart
#set($statswithoutparams = ["rows", "hl.q", "facet.pivot", 'group','queryOpts','group.field','group.ngroups', 'group.facet' , 'facet.field', 'textfs'])


##field value used internally as the value for an empty field-value
#set($missing_value = "[keine Angabe]")
##string to create filter retrieving all documents with empty field
#set($missing_value_range = "[* TO *] *:*")

##the field-value used with paramter ct (currentTopic) when topics are selected but no topic-stats should be displayed
#set($noTopicParam = "__noTopic__")

##current version of the corpus/index. Each core is documented in doc/core - the documentation is displayed in the footer of every page. Needs to be adapted for every
#set($core_version = "07_03")
#parse("doc/core_${core_version}.vm")
