<div id="helpbox">
    <h2>Hilfe und Information zu Welt der Kinder - Explorer Beta</h2>
   <p>Die hier zur Verf&uuml;gung gestellten Werkzeuge wurden im Projekt <em><a href="http://welt-der-kinder.gei.de/">Welt der Kinder</a></em> entwickelt.</p>
       <p>Das Projekt ist eine Zusammenarbeit des Georg-Eckert-Institutes (Braunschweig) mit der Technischen Universit&auml;t Darmstadt, dem Deutschen Institut für Internationale Pädagogische Forschung (Frankfurt) und der Universit&auml;t Hildesheim. Das Projekt wurde von der Leibniz-Gesellschaft gef&ouml;rdert unter Projektnummer SAW-2014-GEl-2</p>
    <p>Informationen zur Verwendung der Werkzeuge finden Sie hier:</p>
    <ul>
        <li>
            <a href="#{url_for_solr}/admin/file?file=/velocity/doc/einfuehrung_wdk-explorer.pdf&contentType=application/pdf" target="_blank">
                Pr&auml;sentation zu den zentralen Funktionen (PDF)</a></li>
        <li><a href="#{url_for_solr}/admin/file?file=/velocity/doc/cheatsheet_wdk_explorer.pdf&contentType=application/pdf" target="_blank">
            Cheatsheet: Beispiele f&uuml;r Anfragen und &Uuml;bersicht über Filternamen (PDF)</a></li>
        <li><a href="#{url_for_solr}/admin/file?file=/velocity/doc/export_doku.pdf&contentType=application/pdf" target="_blank">Export von Treffern als CSV zur Analyse in externen Werkzeugen (PDF)</a>
            <ul>
                <li>mit Beispielanalyse in <a target="_blank" href="http://context.lis.illinois.edu/download.php">ConText</a></li>
                <li><a target="_blank" href="#{url_for_solr}/admin/file?file=/velocity/doc/LibreOffice_Basic_WdK_Export_As_Textfiles.txt&contentType=text/plain">LibreOffice-Macro,</a> mit dem die CSV-Dateien in einzelne Textdateien geteilt werden k&ouml;nnen</li>
               </ul> </li>
    </ul>

    <h2>Information zum Index: </h2>
    <p><em>Version:</em> $core_version</p>
    <p><em>Stand Index:</em>  $doc_core_created </p>
    <p><em>Stand Metadaten:</em> $doc_metadata_date</p>
    <h3>Beschreibung</h3>
    <p>$doc_core_short_description</p>

    <h3>Letzte &Auml;nderungen:</h3>
        <p>$doc_core_changes</p>

</div>
