#**
 *  Paging and Statistics at top of results
 *#

## Usually rendered in pagination div tag

## Grouped Results / Not Paginated


<div class="pages">
    <form class="pure-form results_per_page" action="#{url_for_solr}/browse" method="get">


    #q_form()
    #if($request.params.get('debugQuery'))
        <input type="hidden" name="debugQuery" value="true"/>
    #end
    #if($annotate == true)
        <input type="hidden" name="annotateBrowse" value="true"/>
    #end

    #foreach($fq in $request.params.getParams('fq'))
            <input type="hidden" name="fq" value="$esc.html($fq)"/>
    #end
        <label for="rows">Treffer pro Seite:</label>
    <input type="text" name="rows" size="2" value="$current_page_results_per_page"/>
    &nbsp;&nbsp;
    #additional_params_form_nops(['rows'])

    #set($prev_start = $current_page_start -$current_page_results_per_page)
    #set($next_start = $current_page_start + $current_page_results_per_page)
    #if($current_page_page_number > 1)

        #if($current_page_page_number > 2)
         <a class="first-page" title="Erste Trefferseite" href="#url_for_start(0)">&laquo;&laquo;</a>&nbsp;
        #end

        <a class="prev-page" href="#url_for_start($prev_start)">&laquo;zur&uuml;ck</a>

  #end
    #set($current_page_start_number = $current_page_start +1)

        <input type="hidden" name="start" value="$current_page_start"/>
#set($digits_size = $current_page_results_found.toString().length() - 1)



  <label for="start_number">Treffer</label>
        <input type="text" name="start_number" size="$digits_size" value="$current_page_start_number"/> bis
    #if($next_start > $current_page_results_found)
       $current_page_results_found
        #else
            $next_start
    #end
    von $current_page_results_found

   #if($current_page_page_number < $current_page_page_count)

    <a class="next-page" href="#url_for_start($next_start)">weiter&raquo;</a>
       #set($last_start = ($current_page_results_found / $current_page_results_per_page) *  $current_page_results_per_page)
       #if($last_start >= $current_page_results_found )
           #set($last_start = ($current_page_results_found - $current_page_results_per_page))
       #end
       #if($current_page_page_number <= $last_start)
           &nbsp;<a class="last-page" title="Letzte Trefferseite" href="#url_for_start($last_start)">&raquo;&raquo;</a>
        #end
  #end
</form>


</div>
<div class="resultcount">
  <em class="results-found">$current_page_results_found</em>
  #if($response_grouped_document)
  Werke ($num_bookpages Seiten)
  #else
  Seiten&nbsp;&nbsp;
  #end
 </div>

