
<div id="statsview">
#set($searcher = $request.searcher)
#set($params = $request.params)
#set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))

#parse('config.vm')
#parse('topics.vm')
#parse('calc_params.vm')

##select topicmodel, select facet
##create json string simultaniously? Visualization?

#set($String = "abc")
##todo: getCount for field


#set($stats = $response.response.get('stats'))
#set($pivots = $response.response.facet_counts.facet_pivot)

#set($orderedfacetkeys = [])
#set($entries = {})

      #foreach ($pivot in $pivots)
        #foreach ($entry in $pivot.value)
        #set($added = $orderedfacetkeys.add($entry.value))
        #set($entries[$entry.value] = $entry)
        #end
      #end

 #set($pivot_facet = $entries[$orderedfacetkeys[0]]['field'])

#displaycurrentselection

#set($pagetitle = "WdK-HeatmapTM: Statistiken nach #displayfacetname($pivot_facet)")
<div>
  <em class="results-found">$current_page_results_found</em>
  Ergebnisse&nbsp;&nbsp;
 </div>


##for dates order by facetkey
#if($pivot_facet == $timefacet)
	#set($orderedfacetkeys=  $sort.sort( $orderedfacetkeys))
#end





<a href="" class="statssortreset">Sortierung zur&uuml;cksetzen</a>

##make sortable: http://tinysort.sjeiti.com/#sorting-tables
<table id="statsviewtable">

	<thead>
		<tr>
			<th>#</th>
			<th class="topicname">Topic</th>
			<th>Mittel</th>


		#foreach($facet_value in $orderedfacetkeys)
		<th>$facet_value</th>
	  	#end
  	 </tr>
  	  </thead>
  	  <tbody class="avoid-sort">
  	  <tr class="count">
	     <th></th>
		 <th class="count">Seiten:</th>
		 <th class="count">$current_page_results_found</th>
		 #foreach($key in $orderedfacetkeys)
				<th class="count" title="$entries[$key].value">$entries[$key].count</th>
			 #end
	 </tr>

   </tbody>
  	 <tbody>
     #set($lens = "#lens_without_P(['rows'])")
     #set($base_url = "http://${current_server_path}#{url_for_solr}/browse$lens")
     #foreach($stats_field in $stats.stats_fields)
     <tr>

     	#set($currentNr = $foreach.count)


     	<td>${currentNr}</td>
	    <td class="topicname"><a target="_blank" href="$base_url&sort=${stats_field.key}+desc&ct=${stats_field.key}">#displaytopicname($stats_field.key)</a></td> ##displayfacetname($stats_field.key)
		<td class="mean topicpercent">#formatp2d($stats_field.value.mean)</td>##fomrat number koma (percent?)
		##<td class="stddev">#formatp2d($stats_field.value.stddev)</td>


			#foreach($key in $orderedfacetkeys)

			#set($entry = $entries[$key])

				<td class="topicpercent" title=" #displayfacetname($entry.field) $key : $entry.count ">#formatp2d($entry.stats.stats_fields[$stats_field.key].mean)</td>
			 	##<td></td>
			 #end


	 </tr>
  	#end
	</tbody>
 </table>
<div> <a href="" class="selecttable">Tabelle ausw&auml;hlen</a> </div>



</div>
