#**
 *  Provides navigation/access to Advanced search options
 *  Usually displayed near the top of the page
 *#

##TODO: Make some nice tabs here

 #set( $isgrouped = ($params.getBool('group')) )
<div class="tabs-bar">
  ##queryOpts=$queryOpts
   	 #set($lensnog = "#lens_without_P(['group','queryOpts','group.field','group.ngroups', 'group.facet'])")
  ## return to Simple Search
  ##set( $selected = ($queryOpts && $queryOpts != "") )
  #set( $selected = ! $queryOpts )
  <span class="tab #if(!$isgrouped)selected#end">
    #if( !$isgrouped)
      Seiten
    #else
      <a href="#url_for_home$lensnog">
        Seiten</a>
    #end
  </span>
#*
  ## GEO-Spatial / Location Based
  #set( $selected = ($queryOpts == "spatial") )
  <span class="tab #if($selected)selected#end">
    #if($selected)
      Spatial
    #else
      <a href="#url_for_home?&queryOpts=spatial#debug#annotate">
        Spatial</a>
    #end
  </span>
*#


  ## Group By Field

  <span class="tab #if($isgrouped)selected#end">
    #if( $isgrouped)
     Gruppiert nach Werk
    #else

      <a href="#url_for_home$lensnog&group=true&group.field=${groupfield}&group.ngroups=true&group.limit=1&group.facet=true">
        Gruppiert nach Werk</a>
    #end
  </span>




</div>
