##core 07_02
#set($doc_core_created = "16-09-2016")
#set($doc_document_export_date = "28-01-2016")
#set($doc_metadata_date = "15-09-2016")

#set($doc_tm_general = "Topic Models generiert mit Latent Dirichlet Allocation (LDA) mit Mallet.
							<br/>Vorverarbeitung: OCR-Korrektur, Wortfilter, Stopwords
							(Funktionsw&ouml;rter) entfernt, Lemmatisierung (Mate Tools v3.61).
							<br/>Nur Nomen (approximiert &uuml;ber
							W&ouml;rter beginnend mit Gro&szlig;buchstaben). 
							Input-Einheit: S&auml;tze")

#set($doc_core_short_description ="<em>Index-Version
    WdK_$core_version</em> enth&auml;lt Topicmodels basierend auf S&auml;tzen als Dokumenteinheit,
<br/>
    $doc_tm_general")


#set($doc_core_changes =
    "New metadata.")



##will be displayd next to topicmodels as a ?-Popup-Link

#set($doc_tm_descriptions = { "topic_capitals_chapters_sentences_50_"  :
    "Nomen - basierend auf S&auml;tzen - LDA - 50 Topics",
    "topic_capitals_chapters_sentences_100_" :
    "Nomen - basierend auf S&auml;tzen - LDA - 100 Topics",
    "topic_capitals_chapters_sentences_200_" :
    "Nomen - basierend auf S&auml;tzen - LDA - 200 Topics"
})

